* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Palatino", "Georgia", "Times New Roman", serif;
}

nav {
  z-index: 1;
  position: fixed;
  left: 0;
  justify-content: start;
  padding-top: 200px;
  padding-left: 3%;
  font-size: 30px;
  font-weight: 900;
  transition: 0.6s;
}

nav a, nav a:link, nav a:visited {
  text-decoration: none;
  color: black;
}

ul, li {
  list-style-type: none;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 23%;
  color: black;
}

.on {
  color: black;
  /*transition: 1.5s;*/
}

/*.on:hover {
  color: black;
}*/

h1 {
  font-size: 48px;
  text-align: center;
}

h3 {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0.15px;
  padding-top: 35px;
  width: 85%;
  line-height: 1.5;
}

.source {
  width: 85%;
  text-align: right;
  padding-top: 20px;
  padding-right: 30px;
  font-style: italic;
}

@media only screen and (min-width: 600px) {
  blockquote {
    width: 60%;
  }

  .source {
    width: 60%;
  }

  section {
    padding-top: 16%;
  }
}

@media only screen and (min-width: 768px) {
  blockquote {
    width: 40%;
  }

  .source {
    width: 40%;
  }

  section {
    padding-top: 175px;
  }
}
