* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

nav {
  z-index: 1;
  position: fixed;
  left: 0;
  justify-content: start;
  padding-top: 40%;
  padding-left: 3%;
  font-size: 42px;
  font-weight: 900;
}

nav a, nav a:link, nav a:visited {
  text-decoration: none;
  color: black;
}

ul, li {
  list-style-type: none;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  height: 120vh;
  height: calc(var(--vh, 1vh) * 120);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25%;
  color: black;
  scroll-behavior: smooth;
}

h1 {
  font-size: 43px;
  text-align: center;
}

.front {
  padding-top: 40px;
}

h3 {
  font-size: 19px;
  font-weight: normal;
  text-align: center;
}

.explanation {
  padding-top: 20px;
}

blockquote {
  font-size: 17px;
  font-style: italic;
  letter-spacing: 0.1px;
  padding-top: 35px;
  width: 90%;
  line-height: 1.45;
}

.source {
  font-size: 16px;
  width: 85%;
  text-align: right;
  font-style: italic;
  padding-top: 35px;
}

@media only screen and (min-width: 400px) {
  h1 {
    font-size: 48px;
  }

  h3 {
    font-size: 22px;
  }

  blockquote {
    font-size: 18px;
  }

  .source {
    font-size: 18px;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 48px;
  }

  h3 {
    font-size: 22px;
  }

  blockquote {
    font-size: 18px;
    width: 60%;
  }

  .source {
    font-size: 18px;
    width: 60%;
  }

  section {
    padding-top: 175px;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    padding-top: 200px;
  }

  h1 {
    font-size: 48px;
  }

  h3 {
    font-size: 22px;
  }

  blockquote {
    font-size: 18px;
    width: 40%;
  }

  .source {
    font-size: 18px;
    width: 40%;
    padding-right: 40px;
  }

  section {
    padding-top: 175px;
  }

  .front {
    padding-top: 50px;
  }
}
